@font-face {
    font-family: 'dream';
    src: url('../font/dream.ttf');
}
@font-face {
    font-family: 'posten';
    src: url('../font/posten.ttf');
}

@font-face{
    font-family: "magma";
    src: url("../font/magma.otf");
}