*{
    padding: 0;
    margin: 0px;
    font-family: "posten";
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    background-color: rgba(38, 50, 56, 0.082);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.65);
    position: fixed;
    z-index: 2;
    padding: 15px 40px;
}

.info {
    font-family: "magma";
    font-size: 25px;
}
.background {
    background-image: url("../image/bg.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    height: 80vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(11, 14, 15);
}
.shadow {
        filter: drop-shadow(0px 6px 15px rgb(0, 0, 0));
        background-color: rgb(11, 14, 15);
}
.content {
    color: whitesmoke;
}

.content {
     background-color: rgb(11, 14, 15);
    padding-top: 70px;
    margin-top: -5px;
    width: 100%;
    text-align: center;
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
h1{
    font-size: 54px;
}
h3 {
    margin-top: -15px;
}
.topic {
    margin-top: 30px;
}
.topics {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    margin: 0px 15px;
    padding: 15px 30px;
    transform: scale(0.5);
    position: relative;
    border-radius: 3px;
    font-size: 24px;
    transition: transform .3s ease;
}
.topics::after{
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    color: whitesmoke;
    box-sizing: inherit;
    clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
    transition:clip-path .3s ease, transform .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topics:hover {
    cursor: pointer;
    transform: scale(1);
}
.topics:hover::after{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    transform: scale(1.1);
}
.fill{
    width: 100%;
    height: auto;
    clip-path: circle(10% at 0% 0%);
    transition: 1s;
}